* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: "Roboto Regular";
}

body {
    background-color: #333444;
    color: #fff;
}

input[type="text"] {
    border-bottom: 1px solid #fff;
    background: none;
    padding: 12px 20px;
    color: #fff;
}

input[type="color"] {
    margin: 12px 20px;
    border: none;
    background: none;
    cursor: pointer;
}

button {
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.30);
    padding: 12px 20px;
    font-weight: bold;
    background: #203062;
    color: #ffff;
    cursor: pointer;
    transition: all .5s;
    margin-right: 10px;
}

button:hover {
    background: #1d2c58;
}

.app {
    position: relative;
    margin: 80px auto;
    max-width: 590px;
    padding: 40px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.40), 0 -4px 5px rgba(0,0,0,0.40);
    border-radius: 24px;
    background: #2d2e3b;
}

.content {
    position: absolute;
    top: 40px;
    right: 40px;
}

.content h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

::selection {
    background: #203062;
    color: #fff;
}